<!DOCTYPE html>
<html lang="en">
<head>
	<% include parts/head.ejs%>
</head>

<body>

<% include parts/header.ejs%>


<!-- Insert Body here -->
<div class="container">

    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

</div><!-- /.container -->

<% include parts/footer.ejs%>

</body>
</html>