<!DOCTYPE html>
<html lang="en">
<head>
</head>

<body>

<% include parts/header.ejs%>


<!-- Insert Body here -->
<div class="container">

	<p>BIENVENUE DANS L'INDEX</p>

	<ul>
		<li><a href="/">Accueil</a></li>
		<li><a href="/login">Login</a></li>
		<li><a href="/register">Register</a></li>
		<li><a href="/profile">Profil</a></li>

	</ul>

</div><!-- /.container -->

<% include parts/footer.ejs%>

</body>
</html>