<!DOCTYPE html>
<html lang="en">
<head>
</head>
	<% include parts/head.ejs%>
<body>

<% include parts/header.ejs%>


<!-- Insert Body here -->
<div class="container">

	<form action="/login" method="post">
		<div><h2>Se connecter</h2></div>

		<label>Username</label>
		<input type="text" name="username" placeholder="username" /><br>

		<label>Password</label>
		<input type="password" name="password" placeholder="password" /><br>
		<% if (message.length > 0) { %>
		<div class="alert alert-danger"><%= message %></div>
		<% } %>
		<input type="submit" value="Envoyer" />
	</form>

</div><!-- /.container -->

<footer>
	<% include parts/footer.ejs%>
</footer>

</body>
</html>