<!DOCTYPE html>
<html lang="en">
<head>
</head>
<% include parts/head.ejs%>
<body>

<% include parts/header.ejs%>


<!-- Insert Body here -->
<div class="container">

	<form>
		<div><h2>Se connecter</h2></div>

		<label>Username</label>
		<input type="text" name="username" placeholder="username" /><br>

		<label>Password</label>
		<input type="password" name="password" placeholder="password" /><br>

		<input type="submit" value="Envoyer" />
	</form>

</div><!-- /.container -->

<footer>
	<% include parts/footer.ejs%>
</footer>

</body>
</html>