<!DOCTYPE html>
<html lang="en">
<head>

</head>

<body>

<% include parts/header.ejs%>


<!-- Insert Body here -->
<div class="container">

	<p>Profile numéro : <%= id %></p>

</div><!-- /.container -->

<% include parts/footer.ejs%>

</body>
</html>