body{
	  background:url("pinlayer2.png"),url("/pinlayer1.png"),url("back2.png"); 

}


div{
	padding-bottom: 9px;
	padding-left:60px;
}

li{
	display: inline-block;
	text-align: center;
}

.etoile{
	color:red;
}

.mdp{
	width:300px;
	height:25px;
	box-sizing:content-box;

} 
.mdp:hover{
	box-shadow: 0px 0px 6px 0px #999999;
	border-style:solid;
	border-color:#cfcfcf;
	box-sizing:content-box;
}
.mdp:focus{
	box-shadow: 0px 0px 6px 0px #999999;
	border-style:solid;
	border-color:#cfcfcf;
	box-sizing:content-box;
}

.nom{
	width:300px;
	height:25px;
	box-sizing:content-box;

} 
.nom:hover{
	box-shadow: 0px 0px 6px 0px #999999;
	border-style:solid;
	border-color:#cfcfcf;
	box-sizing:content-box;
}
.nom:focus{
	box-shadow: 0px 0px 6px 0px #999999;
	border-style:solid;
	border-color:#cfcfcf;
	box-sizing:content-box;
}

.mdpConfirm{
	width:300px;
	height:25px;
	box-sizing:content-box;

} 
.mdpConfirm:hover{
	box-shadow: 0px 0px 6px 0px #999999;
	border-style:solid;
	border-color:#cfcfcf;
	box-sizing:content-box;
}
.mdpConfirm:focus{
	box-shadow: 0px 0px 6px 0px #999999;
	border-style:solid;
	border-color:#cfcfcf;
	box-sizing:content-box;
}

.pseudo{
	width:300px;
	height:25px;
	box-sizing:content-box;

} 
.pseudo:hover{
	box-shadow: 0px 0px 6px 0px #999999;
	border-style:solid;
	border-color:#cfcfcf;
	box-sizing:content-box;
}
.pseudo:focus{
	box-shadow: 0px 0px 6px 0px #999999;
	border-style:solid;
	border-color:#cfcfcf;
	box-sizing:content-box;
}

.email{
	width:300px;
	height:25px;
	box-sizing:content-box;
}
.email:hover{
	box-shadow: 0px 0px 6px 0px #999999;
	border-style:solid;
	border-color:#cfcfcf;
	box-sizing:content-box;
}
.email:focus{
	box-shadow: 0px 0px 6px 0px #999999;
	border-style:solid;
	border-color:#cfcfcf;
	box-sizing:content-box;
}

section{
	background: #999;	
	width: 600px;
	margin: auto;
	margin-top:150px;
	list-style-type: none;
	box-shadow:2px 2px 2px rgba(0,0,0,0.9),
	-1px -1px 2px white;
	border-radius: 5px;
}

h1{
	padding-top: 30px;
	padding-left: 200px;
	font-size:30px;
}

.submit{
	background: -webkit-linear-gradient(top, #ffffff, #e0e0e0);
	padding:10px 26px;
	position: relative;
	left:100px;
	bottom:-10px;
	color:#666666;
	font-weight: bold;
	border-width: 1px;
	border-color:#c2c2c2;
	border-style:solid;


}
.submit:hover{
	transition:box-shadow 0.3s;
	background: -webkit-linear-gradient(top, #ffffff, #e0e0e0);
	box-shadow: 0px 0px 6px 0px #999999;
	border-style:solid;
	border-width:1px;
	border-color:#cfcfcf

}