  html {
    position: relative;
    min-height: 100%;
  }
  h2 {
    text-align: center;
    color: #1e8bc3;
  }
  

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
footer{
  font-family: 'Open Sans', sans-serif;
  background:#0c1a1e;
  position:fixed;
  bottom:0;
  width:100%;
  padding-top:25px;
  height:100px;
}
.footerleft { padding:0 100px; margin-left: auto; margin-right : auto; text-align: center; width: 100%;}
.logofooter { width: 300px; font-size:30px; color:#fff; font-weight:500; margin-left: auto; margin-right : auto; width: 100%;}
.footerleft p { color:#fff; font-size:12px !important; font-family: 'Open Sans', sans-serif; margin-bottom:20px;}
.footerleft p i { width:20px; color:#999;}

 body{
  min-height: 100%;

}


/*div{
  padding-bottom: 9px;
  padding-left:60px;
}*/

.formulaireId {
  text-align: center;
  min-height: 350px;
}
li{
  display: inline-block;
  text-align: center;
}

section{
  background: #999; 
  width: 600px;
  margin: auto;
  margin-top:150px;
  list-style-type: none;
  box-shadow:2px 2px 2px rgba(0,0,0,0.9),
  -1px -1px 2px white;
  border-radius: 5px;
}

h1{
  padding-top: 30px;
  padding-left: 200px;
  font-size:30px;
}

.alert{
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px ; 
  width: 60%;
  height: 30px;
}