<link href="https://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css" rel="stylesheet">
<!--footer start from here-->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 footerleft ">
        <div class="logofooter">
        <p>Blog NodeJS<br>
        Copyright © 2017 All rights reserved.<br>
        Pascal Dang, Eric Dumont, Loïc Alarcon, Eric Chan.</p>
        </div>
      </div>
    </div>
  </div>
</footer>