<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/">Blog NodeJS</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
      <% if (user) { %>
        <li><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
        <li><a href="/profile"><span class="glyphicon glyphicon-user"></span> Profil</a></li>
        <li><a href="/blog"><span class="glyphicon glyphicon-list-alt"></span> Blog</a></li>   
        <li><a href="/add"><span class="  glyphicon glyphicon-plus"></span> Ajouter un article</a></li>       
      <% } else { %>
        <li><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
      <% } %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if (user) { %>
        <li><a href="#"> Connecté en tant que : <%= user.username %></a></li>
        <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        <% } else { %>
        <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Register</a></li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>